# Python
__pycache__/
*.pyc
venv/
# Environment variables
.env

# Docker
.dockerignore

# Django
**/db.sqlite3
**/media/
**/staticfiles/
**/logs/
**/*.log


# Model File (Downloaded)
**/models/**_model.tflite